pipeline/new_load.json
{
	"name": "new_load",
	"properties": {
		"activities": [
			{
				"name": "sqltable_load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_ds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "new_load",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "sqltable_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "new_load",
					"value": {
						"value": "@concat(\n    if(equals(substring(activity('sqltable_load').output.firstRow.last_name, 5, 2), 'Q4'),\n        string(add(int(substring(activity('sqltable_load').output.firstRow.last_name, 0, 4)), 1)),\n        substring(activity('sqltable_load').output.firstRow.last_name, 0,4)\n    ), '_Q',\n    if(equals(substring(activity('sqltable_load').output.firstRow.last_name, 5, 2), 'Q4'),\n        '1',\n        string(add(int(substring(activity('sqltable_load').output.firstRow.last_name, 6, 1)), 1))\n    )\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "new_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "update",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[incrementing]",
					"storedProcedureParameters": {
						"new_load": {
							"value": {
								"value": "@variables('new_load')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "plmsdb",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"new_load": {
				"type": "String"
			}
		},
		"annotations": []
	}
}